html {
    font-family: "Helvetica-Light", "STXihei";
}

body {
    margin: 0;
    padding: 0;
}

.header_image_container {
    height: 300px;
    overflow: hidden;
}

.header_image {
    width: 100%;
}

.body_content {
    padding: 0px 30px 30px 30px;
}

.body_image_container {
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

.body_image_container img {
    width: 95%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 24px;
    line-height: 200%;
}

.source {
    font-size: 20px;
}

.date {
    font-size: 20px;
    float: right;
}
