html {
    font-family: "Helvetica-Light", "STXihei";
}

body {
    margin: 0;
    padding: 0;
}

.header_image_container {
    height: 300px;
    overflow: hidden;
}

.header_image {
    width: 100%;
}

.body_content {
    padding: 30px;
}

.body_image_container {
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

<!-- FONTS -->

h1 {
    padding: 0;
    margin: 0 0 20px 0;
}

p {
    line-height: 150%;
}

.date {
    float: right;
}
