html {
    font-family: "Helvetica-Light", "STXihei";
}

body {
    padding: 30px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 24px;
}

.source {
    font-size: 20px;
}

.date {
    font-size: 20px;
    float: right;
}